:root {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: white;
    color: black;
    
    --fore: rgb(0, 0, 0);
    --header: rgb(221, 221, 221);

    --header-high: white;
    --header-low:rgb(164, 164, 164);




    --back: white;
    --border: 0.1rem;
    --borderR: 0.5rem;
    --gradient: linear-gradient(49deg, rgba(136, 63, 7, 1) 0%, rgba(98, 46, 0, 1) 11%, rgba(0, 0, 0, 1) 17%, rgba(147, 69, 0, 1) 20%, rgba(31, 12, 0, 1) 36%, rgba(156, 68, 21, 1) 39%, rgba(3, 1, 0, 1) 67%, rgba(64, 25, 0, 1) 70%, rgba(41, 17, 2, 1) 100%);
}

li{
    list-style: none;
}

body {
    margin:0;
    padding: 0;
    border: 0;
}

 

    .appMenu {
        header {
             width: 100%;

            ul {
                margin-block-start: 1rem;
                margin-block-end: 1rem;
            }

            a {
                padding: 0.5rem;
                text-shadow: none;
                text-decoration: none;
                font-weight: bold;
                color: black;
            }
        }
    }





    header {
        background-color: var(--header);
        border: solid var(--border) var(--fore);
        border-color: var(--header-high) var( --header-low)     var( --header-low) var(--header-high);
 
        background: linear-gradient(0deg, rgba(42, 123, 155, 1) 0%, rgba(240, 240, 240, 1) 0%, rgba(235, 235, 235, 1) 39%, rgba(224, 224, 224, 1) 51%, rgba(255, 255, 255, 1) 53%, rgba(237, 237, 237, 1) 91%, rgba(219, 219, 219, 1) 100%);
        

        color: var(--fore);
        box-sizing: border-box;

        h1 {
            margin-inline: 1rem;
            user-select: none;
            text-shadow: 1px 1px var(--back);
            color: var(--fore) !important;
            font-size: larger;
        }



        nav {
            user-select: none;

            li {
                cursor: pointer;

                a {
                    text-shadow: 1px 1px var(--back);
                    color: var(--fore) !important;
                }
            }
        }
    }

    main {
        background-color: var(--back);
        color: var(--fore);
        height: calc(100vh - 5rem);
        width: 100%;
    }
